/**
* Description: Sample theme for site which extends the Lydia grid-theme.
*/
@import url(../../../themes/grid/style.css);

html{background-color:#fff;}
body{background-color:#fff;}
#outer-wrap-header{background-color:#fff;border-bottom:0px solid #000}
#outer-wrap-footer{background-color:#fff}
a{color:#f78487}

#primary {
  display: inline;
  float: left;
  width: 75%;
  margin: 0 0px;
  background-color:#f2dedf;
  padding: 5px;
  border: 1px solid #000;
  -moz-border-radius: 5px;
        border-radius: 5px;
}
#sidebar {
  display: inline;
  float: left;
  width: 21%;
  margin: 1 1px;
  padding: 1px;
}
